# Dependencies
node_modules/

.env
.env.example
.env.local
.env.example.local
.env.test
.env.example.test

# Expo local state
.expo/
.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

Stop - The Game.txt
/backend
