# Dependencies
node_modules/

# Expo local state
.expo/
.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
backend/.env
ideas.txt
ideas.txt
Stop - The Game.txt
ideas.txt
